*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body#mainHtml{
    background-image: url(../img/someimg.jpg);

}

a{
    text-decoration: none;
    color: #f55a5a;
    font-size: 20px;
}

#error{
    color:#e026269e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

