*{	
	margin:0;
	padding:0;
}

p{
	margin-bottom:15px;
}

h1,h2,h3,h4,h5,h6{
	margin-bottom:15px;
}

body{
	
	background:url('/Agu/core/template/img/img1.jpg');	
	background-size: cover;
	backdrop-filter: blur(5px);	
}

#main_block{

	margin:auto;
	margin-top:15px;
	width: 100%;
	max-width:800px;
	min-width:320px;
}

header{
	border: 1px solid black;
	position: relative;
	background:rgba(56,218,226,0.6);
	height:120px;

}

nav{
	background: rgba(241,241,103,0.8);
	height:40px;
}

nav#main ul{ 
	list-style: none;
	
}

nav#main a{
	display: block;
	text-decoration:none;
	color: black;
	line-height:40px;
	padding: 0 50px;
}

nav#main a:hover{background:rgba(56,218,226,0.2);}

nav#main li{
	display:inline-block;
}

div#left a{
	
	display: block;
	text-decoration:none;
	color: white;
	line-height:60px;
	padding: 0 50px;}
	
div#left ul { 
	list-style: none;
	
}

div#left a:hover{
	background-color:rgba(241,241,103,0.8);
	color:blue;
}

#left {
	float:left;
	background:rgba(110,157,253,0.7);;
	width:25%;
}

#center{
	padding: 5px 20px;
	box-sizing: border-box;
	float:right;	
	width:75%;
	
	min-height: 600px;
	background:rgba(117,187,253,0.7);
	text-align:justify;
}

#footer{
	background:rgba(245,130,130,0.7);
	height: 100px;
	clear:both;
}

#center>ul{
	margin: 5px 15px;
}

#center>ol{
	margin: 5px 15px;
}

a {
		color: blue;
	
}

a:visited{
	color: blue;
}

a:hover{
	color :red;
	
}

table tr{
	background: rgba(255,255,255,0.5);
}

.tb{width: 100%; margin-bottom: 20px}
.tb td {border: 1px solid black; text-align:center; padding: 15px 0;}
.tb .head {
	text-align: center;
	background:silver;
	font-weight :bold;
}

img{margin-bottom:10px}
.left{float:left; margin-right:20px;}
.right{float:right;margin-left:20px;}
.full{width:100%;}

div#logo{
	position:absolute;
	left: -10px;
	top: 10px;
	width: 70px;
	height:70px;
	border: 1px solid black;
	background: url('../img/123.png');
	background-size: cover;
}
#logo:hover{
	background:url('../img/img1.jpg');	
	background-size: cover;
}

@media ( max-width: 900px ) {
	#left {
		display:none;
	}
	
	#center{
		padding: 5px 20px;
		float:auto;	
		width:100%;
	}
	
	nav#main{
	height:auto;}
	
	nav#main li{
	display:block;
	}
	
}




