<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>Agu.site</title>
		<meta name="Hello" content="Hello" />
		<link href="../css/style.css" rel = "stylesheet" type="text/css">
		
	</head>

	<body>
		<div id="main_block">
			<header>HEADER</header>
			
			<nav id="main"> 
	
				<ul>
					<li><a href="C:/Users/User/Desktop/Agu.site/index.html">Главная</a></li>
					<li><a href="#news">Новости</a></li>
					<li><a href="#photo">Фото</a></li>
					<li><a href="#movie">Видео</a></li>
					<li><a href="#contact">Контакты</a></li>
				</ul>

			</nav>
			
			<div id="left">
			
				<ul>
					<li><a href="#">Политика</a></li>
					<li><a href="#">Спорт</a></li>
					<li><a href="#">Не спорт</a></li>
					<li><a href="#">Не политика</a></li>
					<li><a href="#">Агу</a></li>
				</ul>
			
			</div>
			
			<div id="center">
			
			
				<h1>Страница №2</h1>
				
				
				<form>
					<input type="text" name="text"><br><br>
					<textarea name="sometext"></textarea><br><br>
					<input type="number" name="age"><br><br>
					<input type="password" name="pass"><br><br>
					<input type="range" name="range"><br><br>
					
					<input type="checkbox"  name="name1">
					<input type="checkbox"  name="name1">
					<input type="checkbox"  name="name1"><br><br>
					
					<input type="radio" name="name2"></input>
					<input type="radio" name="name2"></input>
					<input type="radio" name="name2"></input><br><br>
					
					<button>klick</button>
				</form> <br><br>
				
				<select>
				<option value="Sukh">Сухум</option>
				<option value="Gagra">Гагра</option>
				<option value="Pic">Пицунда</option>
				</select>
				
				
			</div>
			<footer id="footer">FOOTER</footer>
		</div>
	</body>


</html>